/*/////////// NAVIGATION ///////////*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.navbar__icon {
  position: absolute;
  left: 125px;
  top: 20px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/*/////////// MENU ///////////*/
.menu {
  background-color: rgb(255, 123, 0);
  height: 500px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 111px;
  z-index: 99;
}

@media (min-width: 900px) {
  .menu {
    left: 486px;
  }
  .navbar__icon {
    left: 500px;
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  .menu {
    left: 300px;
  }
  .navbar__icon {
    left: 315px;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  .menu {
    left: 196px;
  }
  .navbar__icon {
    left: 210px;
  }
}

@media (max-width: 500px) {
  .menu {
    left: 96px;
  }
}

.menu__icon {
  position: absolute;
  left: 15px;
  top: 10px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__list a {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2.5px;
  text-decoration: none;
}
